anyio==3.5.0
bcrypt==3.2.0
blinker==1.4
cachelib==0.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-WTF==1.0.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pycparser==2.21
PyJWT==2.3.0
RandomWords==0.3.0
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
tabulate==0.8.9
urllib3==1.26.8
Werkzeug==2.0.2
WTForms==3.0.1
youtube-search-python==1.6.3
