{% extends "input_template.html" %}
{% block content %}
<form action = "{{url_for('register.create_account')}}" method = "post">
    <div class="wrapper">
        <p><input type = "email" name = "email" placeholder="Email" required /></p>
        <p><input type = "text" name = "name" placeholder="Username" required /></p>
        <p><input type = "password" name = "pin" placeholder="Password" required /></p>
        <p><input type = "text" name = "description" placeholder="Your profile description" /></p>
        <p><input type = "submit" class="button button1" value = "submit" /></p>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
</form>
{% endblock %}