{% extends "base.html" %}
{% block content %}
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<hr>
<h1>User: {{ user }}</h1>
<p>Description: {{description}}</p>
<hr>
<div class="row">
    <div class="column">
        <table><th>Game</th>
            <th>Completion date</th>
            <th>Grade(1-10)</th>
            <th>Review</th>
            <tr>{% for game_name, date, grade, record_review in record_info %}
            </tr>
            <tr>
                <td>{{game_name}}</td>
                <td>{{date}}</td>
                <td>{{grade}}</td>
                <td>{{record_review}}</td>
                {% endfor %}</table>
    </div>
</div>
{% endblock %}




