{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile_style.css') }}">
</head>
<hr>
<form action = "{{ url_for('user_profile.user', username=user) }}" method = "post">
    <div class="div1"><h1>{{ user }}</h1></div>
    {% if session["name"]==username %}
    <div style="float:right" class="div2"><button class="button button2 " style="padding: 5px 10px" name="Edit_password" value="Edit_password">Change password <i class="fas fa-wrench"></i></button></div>
    {% endif %}
<!--    Edit username-->
<!--    {% if session["name"]==username %}-->
<!--    <div class="div2"><button class="button button2 " style="padding: 5px 10px" name="Edit_username" value="Edit_username"><i class="fas fa-edit"></i></button></div>-->
<!--    {% endif %}-->
<div class="wrapper">
    <div class="div1"><p>Description: {{description}}</p></div>
    {% if session["name"]==username %}
    <div class="div2"><button class="button button2 " style="padding: 5px 10px" name="Edit_description" value="Edit_description"><i class="fas fa-edit"></i></button></div>
    {% endif %}
</div>
</form>
<hr>
<div class="row">
    <div class="column">
        <table><th>Game</th>
            <th>Completion date</th>
            <th>Grade(1-10)</th>
            <th>Review</th>
            <tr>{% for game_name, date, grade, record_review in record_info %}
            </tr>
            <tr>
                <td>{{game_name}}</td>
                <td>{{date}}</td>
                <td>{{grade}}</td>
                <td>{{record_review}}</td>
                {% endfor %}</table>
    </div>
</div>
{% endblock %}




