{% extends "base.html" %}
    {% include "input_template.html" %}
{% block content %}
    <title>AutoComplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css" />
</head>
<body>
<form action = "http://localhost:5000/add" method = "post">
    <div class="wrapper">
        <p><input type = "text" id="game" name = "game" placeholder="Game" required/></p>
        <p>Game finish date:</p>
        <p><input type="date" id="completion" name="completion" ></p>
        <p><input type="number" id="rate" name="rate" min="1" max="10" placeholder="Your rate(1-10):" required></p>
        <p><textarea  id="review" name="review" rows="4" cols="50" placeholder="Review"></textarea></p>
        <p><input type = "submit" class="button button1" value = "submit" /></p>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
</form>
<script>
  $( function() {
    var availableTags = [
        {% for game in games %}
            "{{game}}",
        {% endfor %}
    ];
    $( "#game" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

{% endblock %}
