<html>
<head>
    <title>AutoComplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css" />
</head>
<body>
<form action = "http://localhost:5000/add" method = "post">
    <p>Game:</p>
    <p><input type = "text" id="game" name = "game" /></p>
    <p>Game completion date:</p>
    <input type="date" id="completion" name="completion">
    <p>Your rate(1-10):</p>
    <input type="number" id="rate" name="rate" min="1" max="10">
    <p>Review:</p>
    <textarea id="review" name="review" rows="4" cols="50">
    </textarea>
    <p><input type = "submit" value = "submit" /></p>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
</form>
<script>
  $( function() {
    var availableTags = [
        {% for game in games %}
            "{{game}}",
        {% endfor %}
    ];
    $( "#game" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

</body>
</html>




<!--<html>-->
<!--<body>-->
<!--<form action = "http://localhost:5000/add" method = "post">-->
<!--    <p>Game:</p>-->
<!--    <p><input type = "text" name = "game" /></p>-->
<!--    <p>Game completion date:</p>-->
<!--    <input type="date" id="completion" name="completion">-->
<!--    <p>Your rate(1-10):</p>-->
<!--    <input type="number" id="rate" name="rate" min="1" max="10">-->
<!--    <p>Review:</p>-->
<!--    <textarea id="review" name="review" rows="4" cols="50">-->
<!--    </textarea>-->
<!--    <p><input type = "submit" value = "submit" /></p>-->
<!--    {% for message in get_flashed_messages() %}-->
<!--    <div class=flash>{{ message }}</div>-->
<!--    {% endfor %}-->
<!--</form>-->
<!--</body>-->
<!--</html>-->