<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<ul>
  <form action = "{{ url_for('dashboard.dashboard') }}" method = "post">
  <li><input type="submit" class="button button1" name="submit_button" value="Home"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="My games"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="Add game"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="Users"></li>
  <li style="float:right"><div class="dropdown">
    <button  class="dropbtn" disabled>Menu</button>
    <div class="dropdown-content">
      <input type="submit" class="button button2"  name="submit_button" value="Profile">
      <input type="submit" class="button button2"  name="submit_button" value="Logout">
    </div>
  </div></li>
  </form>
</ul>
{% block content %}{% endblock %}
</body>
</html>


