<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
</head>
<body>
<ul>
  <form action = "{{ url_for('dashboard.dashboard') }}" method = "post">
  <li><input type="submit" class="button button1" name="submit_button" value="Home"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="My games"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="Add game"></li>
  <li><input type="submit" class="button button1" name="submit_button" value="Users"></li>
  <li style="float:right"><input type="submit" class="button button1" name="submit_button" value="Logout"></li>
  </form>
</ul>
{% block content %}{% endblock %}
</body>
</html>


