{% extends "input_template.html" %}
{% block content %}
<form action = "{{url_for('reset.reset_password', token=token)}}" method = "post">
    <div class="wrapper">
        <th>Set new password</th>
        <p><input type = "password" name = "password" placeholder="password" required /></p>
        <p><input type = "submit" class="button button1" value = "submit" />
            {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
</form>
{% endblock %}