{% extends "input_template.html" %}
{% block content %}
<style>
a:link {
color: grey;
text-decoration: none;
}</style>
<form action = "{{url_for('login.login')}}" method = "post">
    <div class="wrapper">
        <p><input type = "text" name = "name" placeholder="Username" required /></p>
        <p><input type = "password" name = "pin" placeholder="password" required /></p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('reset.send_pass_reset') }}">Click to Reset It</a>
        </p>
        <p><input type = "submit" class="button button1" value = "submit" />
        <a href="{{url_for('register.create_account')}}">
            <input type="button" class="button button1" value="Register" />
        </a></p>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
</form>
{% endblock %}