{% extends "input_template.html" %}
{% block content %}
<form action = "http://localhost:5000/login" method = "post">
    <div class="wrapper">
        <p><input type = "text" name = "name" placeholder="Username" required /></p>
        <p><input type = "password" name = "pin" placeholder="password" required /></p>
        <p><input type = "submit" class="button button1" value = "submit" />
        <a href="http://localhost:5000/register">
            <input type="button" class="button button1" value="Register" />
        </a></p>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
</form>

{% endblock %}