{% extends "base.html" %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user_games_style.css') }}">
</head>
<body>
<div class="row">
  <div class="column">
    <table><th>Game</th>
      <th>Completion date</th>
      <th>Grade(1-10)</th>
      <th>Review</th>
      <tr>{% for game_name, date, grade, record_review in record_info %}
      </tr>
      <tr>
        <td>{{game_name}}</td>
        <td>{{date}}</td>
        <td>{{grade}}</td>
        <td>{{record_review}}</td>
        {% endfor %}</table>
  </div>
  </div>
</body>
{% endblock %}